@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome!</h2>

<p>@ViewData["WelcomeMessage"]</p>

<ul>
    @for (int i = 0; i < (int)ViewData["Age"]!; i++)
    {
        <li>nagyon</li>
    }
</ul>
<p>szeretlek! :3 uwu</p>